
<h3>商品一覧</h3><p>(全<%= @items.count %>件)</p>
<% @items.each do |item| %>
  <%= link_to public_items_show_path(item.id) do %>
    <% if item.image.attached? %>
      <%= image_tag item.image, size: "200,200" %>
    <% else %>
      <%= image_tag 'no_image', size: "200,200" %>
    <% end %>
    <%= item.name %>
  <% end %>
  <%= item.price %>
  <%= item.genre.name %>
  <% if item.is_active? %>
    <p>販売中</p>
  <% else %>
    <p>販売停止中</p>
  <% end %>
<% end %>

